{% extends "network/layout.html" %}

{% load static %}

{% block body %}
{% load static %}

<div style=" width: 100%;" class="center">


                        {% if files %}
                        <center><h3  style="text-align:center; color: rgb(255, 255, 255); background: rgb(75, 168, 230); width: 400px;   margin-top: 20px;" id="answer">Search Results</h3></center>


                         {% for file in files %}

                        
                                     <div style=" height: 120px; margin-top: 10px; position: relative; border-radius: 20px; background-color: rgb(216, 230, 230); " class="card">
                                     
                                       <div  class="card-body">
                                        <div style="display:flex ;">
                                        <div class="small-profilepic" style="background-image: url(/media/{{file.profile_pic}})"></div>
                                     
                                          <div><h5 class="card-title">{{ file.username }}</h5></div> 

                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                          <div><h6 style="padding-top: 3px;" class="card-text">@ {{ file.first_name }} {{file.last_name}}</h6></div></div>
                                          
                                          <a href="{% url 'profile' file.username %}"><button style="background-color: rgb(19, 177, 239); color: #Fff; border: white; margin-left: 80px; ">View Profile</button></a>
                                          
                                        </div>
                                      </div> 
                                     
                                    
                                        
                                
                            {% endfor %}
                        {%else%}




<center><h3 style="text-align:center; color: #Fff; background: rgb(18, 133, 164); width: 400px" id="answer">No Search Found</h3></center>

                <style type="text/css">
                  #search_result {
                 display: none;
                 }
    </style>

                       {%endif%}    
                            

                        <!-- {% if files.has_other_pages %}
    <ul class="pagination">
        {% if files.has_previous %}
            <li class="waves-effect"><a href="?page=
                    {{ files.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><i
                    class="material-icons text-primary">&laquo;</i></a></li>
        {% else %}
            <li class="disabled"><a href="#!"><i class="material-icons text-primary">&laquo;</i></a></li>
        {% endif %}
        {% for num in files.paginator.page_range %}
            {% if files.number == num %}
                <li class="active"><a href="#!">{{ num }}</a></li>
            {% else %}
                <li class="waves-effect"><a
                        href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}
        {% if files.has_next %}
            <li class="waves-effect"><a
                    href="?page={{ files.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"><i
                    class="material-icons">&raquo;</i></a></li>
        {% else %}
            <li class="disabled"><a href="#!"><i class="material-icons">&raquo;</i></a></li>
        {% endif %}
    </ul>
{% endif %} -->
</div>



{% endblock %}